    .inputImg {
    display: none;
        border-radius: 20px;
        margin-left:auto;
       width:70px;
        height:30px;
        margin:0 auto;
    }
   
    .imgUser{
    display:block;
    margin:auto ;
    height:180px;
    width: 180px;
    margin-top:20px;
    background-image: url("../../images/Intersect.jpg");
    background-repeat: no-repeat;
    background-color: #54ADFF;
    background-size: cover;
    border-radius: 40px;
    border: 1px solid #54ADFF;
    
}
/* .camera-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../../images/photoaparat.svg) no-repeat center;
  } */

 
    .formStyle{
    display:flex;
    flex-direction:column;
    gap:20px;}

.avatarDiv{
    display:flex;
    flex-direction: column;
   align-content: center;
   } 
   .btnEditPhoto{
    position: relative;
    padding-left: 10px;
    border:none;
    width: 120px;
    align-items: center;
    height: 20px;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .btnEditPhoto::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../../images/photoaparat.svg) no-repeat center;
    /* Замініть 'camera-icon.png' на шлях до вашого зображення іконки фотоапарата */
  }
    h1{
    text-align:center;
    }


    @media screen and (min-width: 768px) {
       
.divreverse{
    display: flex;
    flex-direction: row-reverse;
   
   }

            h1{
                text-align:start;
                }

    }



    @media screen and (min-width: 1200px) {
        .divreverse{
            flex-direction: column;
           align-items: flex-start;
           
        }
                    h1{
                        text-align:center;
                        }
    } 