.title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 16px;
}

.link {
  text-decoration: none;
  color:#54ADFF;
}

.infoItem {
  background-color: red;
}
