.title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 16px;
}

.link {
  text-decoration: none;
  color: #54adff;
}

.title:hover {
  color: #ffc107;
}
.title:focus {
  color: #ffc107;
}
.infoItem {
  background-color: red;
}
