.headerContainer {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .headerContainer {
    padding: 8px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .headerContainer {
    padding: 10px 16px;
  }
}

.navContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 1200px) {
  .navContainer {
    justify-content: space-between;
    margin-left: 159px;
  }
}

.navList {
  gap: 40px;
  list-style: none;
}
@media screen and (max-width: 1199px) {
  .navList {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .navList {
    display: flex;
    justify-self: flex-start;
  }
}

.navLink {
  text-decoration: none;
  font-family: var(--Manrope);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.04;
  color: var(--primary-text-color);
}
.navLink:global(.active) {
  color: var(--auth-nav-color);
}
.navLink:hover,
.navLink:focus {
  font-weight: 700;
  color: var(--auth-nav-color);
}

.authNavList {
  align-items: center;
  gap: 10px;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .authNavList {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .authNavList {
    display: flex;
  }
}

.burgerMenu {
  border: none;
}
@media screen and (min-width: 768px) {
  .burgerMenu {
    margin-left: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .burgerMenu {
    display: none;
  }
}
