/* modal-adv.css */

.modal {
    /* Стилізація модального вікна */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    
}
.modal-main-info{
    
}
.close{
    cursor: pointer;
}

.modal-content {
    /* Стилізація контейнера модального вікна */
    background-color: white;
    padding: 32px;
    border-radius: 40px;
    
    position: relative;
    
       
}


.modal-top-side{
    display: flex;
    
}

.close {
    /* ... решта стилів */
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-image {
    /* Стилізація зображення */
    position: relative;
    
    
}

.modal-title {
    /* Стилізація заголовка */
    text-align: right;
}

.modal-pet-info {
    /* Стилізація списку інформації про тварину */
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    margin-bottom: 20px;
}

.modal-pet-comments {
    max-width: 618px;
    margin: 0;
}


.modal-image {
    
    align-self: flex-start;
      
}

.modal-title {
    /* ... решта стилів */
    text-align: left;
    margin-bottom: 10px;
}

.modal-pet-info {
    /* ... решта стилів */
    text-align: left;
    margin-bottom: 10px;
}

.modal-comment-section {
    /* ... решта стилів */
    margin-top: auto;
    margin-bottom: 70px;
}

.modal-main-info {
    margin-left: 24px;
}
.modal-buttons {
    display: flex;
  
  justify-content: end;
    
  
}
.modal-list-info{

   margin-right: 92px;
}
.modal-list-info-email{
    color: #FFC107;
    text-decoration: underline;
}
.modal-list-info-phone{
    color: #FFC107;
        text-decoration: underline;
}
.modal-pet-info-list li {
    display: flex;
    justify-content: space-between;

    
}
.modal-contact{
    margin-left: 17px;
    height: 40px;
        width: 129px;
        border-radius: 40px;
        
        background-color: #fff;
        border-color: #54ADFF;
        border-style: double;
        color: #54ADFF;
        
        
}

.modal-add-favs{
    height:40px;
    width: 129px;
    border-radius: 40px;
    background-color: #54ADFF;
    border-color:#54ADFF;
    border-style: double;
    color: white;
   
}
.modal-pet-info-list{
    list-style-type: none;
    
}
.modal-title{
    width: 321px;
    height: 76px;
    margin-bottom: 20px;
    font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;;
}

.modal-pet-info-list{
    margin: 0;
    padding: 0;
   
}
.modal-image-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}


.modal-pet-info-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.modal-pet-price {
    position: absolute;
    top: 16px;
    /* Відступ зверху */
    left: 0;
    /* Вирівнювання по лівому краю */
    background-color:#CCE4FB;
    color: black;
    border-radius: 5px;
    font-size: 12px;
    border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        
        width: 126px;
            height: 32px;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
    

}
.modal-top-side{
    margin-bottom: 28px;
}
@media (max-width: 600px) {
        .modal-top-side {
            display: block;
        }
        .modal-main-content{
            width: 300px;
        }
        .modal-buttons{
            display: flex;
            flex-direction: column;
        }
        .modal-contact{
            margin: 0px;
            width: auto;
        }
        .modal-add-favs{
            width: auto;
            margin-bottom: 8px;
        }
        .modal-comment-section{
            margin-bottom: 12px;
        }
        .modal-pet-info-list{
            margin-bottom: 13px;
        }
        .modal-top-side{
            margin-bottom: 0px;
        }
        .modal-title{
            width: 200px;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 12px;
        }
        .modal-main-info{
            margin-left: 0px;
        }
        .modal-image{
        margin: 0px;
        margin: auto;
        
        }
        .modal-image-container{
            
            margin-bottom: 12px;
        }
        .modal-content{
            padding: 20px;
        }
        .modal-pet-price{
            left: 19px;
            
        }

}
.svg-icon{
background-color: tomato;
fill: blue;
}