/* modal-adv.css */

.modal {
    /* Стилізація модального вікна */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    
}
.modal-main-info{
    
}

.modal-content {
    /* Стилізація контейнера модального вікна */
    background-color: white;
    padding: 32px;
    border-radius: 40px;
    flex-direction: column;
    position: relative;display: flex;
        align-items: flex-start;
        
}


.modal-top-side{
    display: flex;
}

.close {
    /* ... решта стилів */
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-image {
    /* Стилізація зображення */
    position: relative;
    
    
}

.modal-title {
    /* Стилізація заголовка */
    text-align: right;
}

.modal-pet-info {
    /* Стилізація списку інформації про тварину */
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    margin-bottom: 20px;
}

.modal-pet-comments {
    max-width: 618px;
    margin: 0;
}


.modal-image {
    /* ... решта стилів */
    align-self: flex-start;
        margin-right: 20px;
}

.modal-title {
    /* ... решта стилів */
    text-align: left;
    margin-bottom: 10px;
}

.modal-pet-info {
    /* ... решта стилів */
    text-align: left;
    margin-bottom: 10px;
}

.modal-comment-section {
    /* ... решта стилів */
    margin-top: auto;
    margin-bottom: 70px;
}

.modal-main-info {
    margin-left: 24px;
}
.modal-buttons {
    display: flex;
  margin-left: 343px;
  align-items: center;
    
  
}
.modal-list-info{
    margin-left: 70px;
}
.modal-contact{
    margin-left: 17px;
    height: 40px;
        width: 129px;
        border-radius: 40px;
        
        background-color: #fff;
        border-color: #54ADFF;
        border-style: double;
        color: #54ADFF;
        
        
}

.modal-add-favs{
    height:40px;
    width: 129px;
    border-radius: 40px;
    background-color: #54ADFF;
    border-color:#54ADFF;
    border-style: double;
    color: white;
   
}
.modal-pet-info-list{
    list-style-type: none;
    
}
.modal-title{
    width: 321px;
    height: 76px;
    margin: 0 0 0 ;
    font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;;
}

.modal-pet-info-list{
    margin: 0;
    padding: 0;
   
}
.modal-image-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.modal-pet-price {
  position: relative;
}
.modal-pet-info-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modal-pet-info-list li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Розподіл стовпців на дві рівні частини */
    align-items: center;
}

.modal-pet-info-list li span {
    text-align: left;
}
.modal-image-container {
    display: flex;
        align-items: center;
        justify-content: center;
}
.modal-pet-price {
    position: absolute;
    top: 16px;
    /* Відступ зверху */
    left: 0;
    /* Вирівнювання по лівому краю */
    background-color:#CCE4FB;
    color: black;
    border-radius: 5px;
    font-size: 12px;
    border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        width: 126px;
        align-self: center;
        width: 126px;
            height: 32px;
    

}
.modal-top-side{
    margin-bottom: 28px;
}
@media (max-width: 600px) {
    .modal-content {
        flex-direction: initial;
        align-items: initial;
        text-align: initial;
    }

    .modal-main-info {
        margin-top: initial;
    }

    .modal-pet-info-list {
        margin-left: initial;
        padding-left: initial;
        text-align: initial;
    }
}
.svg-icon{
background-color: tomato;
fill: blue;
}