.Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 80px;
  gap: 4px;

  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: center;

  border-radius: 50%;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);

  text-decoration: none;
  background: var(--btn-default-color);
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    min-width: 130px;
    height: auto;

    border-radius: 40px;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    gap: 8px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.375;
  }

  &:hover,
  &:focus {
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
  }
}

@media screen and (max-width: 768px) {
  .Btn {
    position: fixed;
    margin-top: 200px;
    left: 68%;
    z-index: 5;
  }
}

.icon {
  stroke: var(--secondary-text-color);
  align-self: center;
}
