.modalTopSide {
  display: flex;
}

.modalImage {
  position: relative;
}

.modalTitle {
  font-family: 'Manrope';
  text-align: right;
}

.modalPetComments {
  max-width: 618px;
  margin: 0;
  font-family: 'Manrope';
}

.modalImage {
  width: 262px;
  height: 298px;
  align-self: flex-start;
}

.modalTitle {
  text-align: left;
  margin-bottom: 10px;
}

.modalCommentSection {
  margin-top: auto;
  margin-bottom: 70px;
}

.modalMainInfo {
  margin-left: 24px;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
}

.modalListInfo {
  margin-right: 92px;
}

.modalListInfoEmail {
  color: #ffc107;
  text-decoration: underline;
  font-family: 'Manrope';
}

.modalListInfoPhone {
  color: #ffc107;
  text-decoration: underline;
  font-family: 'Manrope';
}

.modalPetInfoList li {
  display: flex;
  justify-content: space-between;
  font-family: 'Manrope';
}

.modalContact {
  margin-left: 17px;
  height: 40px;
  width: 129px;
  border-radius: 40px;
  border-style: double;
  background-color: #fff;
  border-color: #54adff;
  font-family: 'Manrope';
  color: #54adff;
}

.modalAddFavs {
  height: 40px;
  width: 129px;
  border-radius: 40px;
  background-color: #54adff;
  border-color: #54adff;
  border-style: double;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'Manrope';
  justify-content: center;
}

.modalPetInfoList {
  list-style-type: none;
}

.modalTitle {
  width: 321px;
  height: 76px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}

.modalPetInfoList {
  margin: 0;
  padding: 0;
}

.modalImageContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.modalPetInfoList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modalHeartSvg {
  stroke: white;
  fill: white;
}

.modalPetPrice {
  position: absolute;
  top: 9px;
  font-family: 'Manrope';
  left: 0;
  background-color: #cce4fb;
  color: black;
  border-radius: 5px;
  font-size: 12px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  width: 126px;
  height: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.modalTopSide {
  margin-bottom: 28px;
}

.modalPetInfoList li {
  margin-bottom: 8px;
}
.modalPetInfoList :last-child {
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .modalTopSide {
    display: block;
  }

  /* .modalMainContent {
  } */

  .modalButtons {
    display: flex;
    flex-direction: column;
  }

  .modalContact {
    margin: 0px;
    width: auto;
    font-family: 'Manrope';
  }

  .modalAddFavs {
    width: auto;
    margin-bottom: 8px;
  }

  .modalCommentSection {
    margin-bottom: 12px;
  }

  .modalPetInfoList {
    margin-bottom: 13px;
  }

  .modalTopSide {
    margin-bottom: 0px;
  }

  .modalTitle {
    width: 200px;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 12px;
  }

  .modalMainInfo {
    margin-left: 0px;
  }

  .modalImage {
    margin: 0px;
    margin: auto;
  }

  .modalImageContainer {
    margin-bottom: 12px;
  }

  .modalContent {
    padding: 20px;
  }
}
