.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  padding-top: 1px;
  padding-bottom: 1px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.04em;

  color: var(--btn-default-color);
}

.icon {
  fill: var(--main-background-color);
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
