.box {
  margin: 0 auto;
  padding: 20px 16px;
  border-radius: 20px;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  background-color: var(--secondary-text-color);
  width: 280px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    width: 703px;
    padding: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 821px;
  }
}

.wrapperPicDiv {
  margin: auto;
  width: 240px;
  height: 240px;
  border-radius: 40px;
  background-color: var(--secondary-text-color);

  & > img {
    object-fit: cover;
    border-radius: inherit;
  }

  @media screen and (min-width: 768px) {
    width: 128px;
    height: 128px;
  }

  @media screen and (min-width: 1200px) {
    width: 161px;
    height: 161px;
  }
}

.description {
  margin: auto;
  position: relative;
  margin-top: 20px;
  width: 250px;
  @media screen and (min-width: 768px) {
    margin-left: 20px;
    margin-top: 8px;
    width: 571px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 20px;
    width: 680px;
  }
}

.infoPet {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  font-size: 14px;
  font-weight: 400;
  font-family: var(--Manrope);

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    font-size: 16px;
  }
}
