.fileWrapper {
  margin-bottom: 24px;
}

.fileContainer {
  display: flex;
  align-items: center;
}

.capture {
  max-width: 81px;
  margin-right: 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.36;
}

.input {
  display: none;
}

.labelFile {
  display: block;
  width: 112px;
  height: 112px;
  background-color: var(--btn-disabled-color);
  cursor: pointer;
  border-radius: 20px;
  background-image: url('../../../../images/icons/add-icon.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.inputWrapper > p {
  position: absolute;
  font-size: 12px;
  line-height: 1.33;
  color: var(--red);
}

@media screen and (min-width: 768px) {
  .capture {
    max-width: 114px;
    font-size: 20px;
    line-height: 1.4;
    margin-right: 33px;
  }
  .labelFile {
    width: 182px;
    height: 182px;
    border-radius: 40px;
    background-size: 48px 48px;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
  }
}
