.item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.imgContainer {
  text-align: center;
  margin-top: 40px;

  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}

.imgEmpty {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 500px;
  }
}
