.addPetBtn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--Manrope);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.04;
  border-radius: 40px;
  color: var(--main-background-color);
  width: 129px;
  padding: 8px 16px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 69px;
    margin-bottom: 45px;
  }
}

.iconPlus {
  margin-left: 8px;
  fill: var(--main-background-color);
}
