@media screen and (min-width: 1200px) {}
.container{max-width:320px;
    padding:20px;
    margin:auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: #111111;}
    
    @media screen and (min-width: 768px) {
.container{ padding:30px;

}

    }
   