.container {
  max-width: 280px;
  padding: 20px;
  margin: auto;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #111111;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 30px;
    max-width: 704px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 30px;
    width: 1200px;
  }
}

.userWrap {
  /* margin: auto; */
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

/* .userDataBox {
  width: 600px;
 } */
.petsDataBox {
  margin: auto;
  @media screen and (min-width: 1200px) {
    margin-left: 32px;
  }
}
