.field {
  margin-bottom: 20px;
}
.label {
  display: block;
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.36;
}

.input {
  padding: 9.5px 16px;
  border: 1px solid #54adff;
  border-radius: 40px;
  width: 100%;
}

.input.error {
  /* Стилі для інпута, коли є помилка */
  border-color: red; /* Налаштуйте колір бордеру на червоний */
}

.input::placeholder {
  font-size: 14px;
  line-height: 1.5;
  color: #888888;
}

.inputWrapper > p {
  position: absolute;
  font-size: 12px;
  line-height: 1.33;
  color: var(--red);
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 20px;
    line-height: 1.32;
  }

  .input {
    font-size: 16px;
  }

  .input::placeholder {
    font-size: 16px;
  }
}
